.App {

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #d9cb05;
  color: #040a0a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ee0c0ccf;
}

button:focus {
  outline: none;
}

